    <div class="selection">
        <br>
        <app-gene-select (selectionEvent) = "selectedGene=$event"></app-gene-select>
        <br>
    </div>
    <!-- <hr>
    <div class = "tSNE_chart">
        <app-gene-chart [selectedGene] = "selectedGene"></app-gene-chart>
    </div>
    <hr>
    <br>
    <div class = "tSNE_chart">
        <app-groups-chart [selectedGene] = "selectedGene"></app-groups-chart>
    </div>
   <hr>
   <br> -->
   <div class = "tSNE_chart">
        <app-column-distributed-chart [selectedGene] = "selectedGene"></app-column-distributed-chart>
   </div>




