.gene-menu-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "select";
    font-weight: bold;
    font-size: 15px;
    background-color: #A8C3CA;
}

.select {
    grid-area: select;
    padding: 20px;
}
