<div class = "gene-menu-container">
    <div class = "select">
        <app-gene-select></app-gene-select>
    </div>
    <!-- <div class = "selectedGeneDensity">
        <label for = "selectedGeneDensity_">Enter density of the gene</label>
        <input type="number" class="form-control" id="selectedGeneDensity_" [(ngModel)]="selectedGeneDensity">
    </div>
    <div class = "genesDensity">
        <label for = "genesDensity_">Enter density to the rest</label>
        <input type="number" class="form-control" id="genesDensity_" [(ngModel)]="genesDensity">
    </div> -->
</div>
